html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*控制居中及宽度*/
#at-plus-container {
    position: relative;
    width: 180px;
    height: 100%;
    margin: 0 auto;
}

/*控制整体的位置，即始终在下方*/
#bottom-positioner {
    position: absolute;
    width: 100%;
    bottom: 0;
}

/*展开后的顶部大圆区*/
#button:hover #info-bar {
    width: 130px;
    height: 130px;
    bottom: 150px;
    left: 25px;
    opacity: 1;
}

/*未展开时将大小修改至小于button*/
#info-bar {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 95px;
    left: 75px;
    border-radius: 50%;
    background-color: #7e7e7e;
    overflow: hidden;
    transition: all 0.5s;
    -moz-transition: all 0,5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s;
    opacity: 0;
}

#info-bar ul {
    margin: 0;
    padding: 0;
}

/*大圆区内部样式*/
#info-bar li {
    list-style: none;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*控制图片位置*/
#info-bar li img {
    vertical-align: middle;
}

#info-bar span {
    margin-left: 10px;
}

/*大圆区内部各项边距设置*/

.mine {
    display: inline;
}

.mine span {
    color: #34d693;
}

.posted {
    margin: 0 0 0 20px;
}

.like {
    margin: 0 0 0 10px;
}

.comment {
    font-size: 30px;
}

/*整个下部的所有小圆边框*/
#control-ring-container {
    position: absolute;
    width: 180px;
    height: 180px;
    bottom: 20px;
    left: 0;
    border-radius: 50%;
}

/*设置的button区，即hover反应区*/
#button {
    width: 70px;
    height: 70px;
    margin: 75px 55px;
}

/*hover展开后的中心小圆*/
#button:hover .apb {
    width: 50px;
    height: 50px;
    bottom: 85px;
    left: 65px;
    background-color: #313f9f;
    background-image: url("images/atplus_green.png");
    background-size: 40px 30px;
}

/*hover前的中心小圆*/
.apb {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 95px;
    left: 73px;
    border-radius: 50%;
    background-color: #7e7e7e;
    background-image: url("images/atplus_white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px 21px;
    transition: all 0.5s;
    -moz-transition: all 0,5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s;
}

/*五个小圆的大小样式设置*/
#control-ring-container li {
    position: absolute;
    text-align: center;
    color: #34d693;
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 35px;
    display: block;
    transition: all 0.5s;
    -moz-transition: all 0,5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s;
    opacity: 0;
}

/*hover后 五个小圆的位置及背景图像设置*/

#button:hover .mask {
    margin-top: 20px;
    margin-left: -30px;
    background-color: #313f9f;
    opacity: 1;
}

#button:hover .history {
    margin-top: 60px;
    margin-left: -40px;
    background-color: #313f9f;
    opacity: 1;
}

#button:hover .message {
    margin-top: 100px;
    margin-left: -28px;
    background-color: #313f9f;
    opacity: 1;
}

#button:hover #control-ring-container span {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

#button:hover .unread {
    position: absolute;
    left: 20px;
    top: -5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 10px;
    opacity: 1;
}

#button:hover .setting {
    margin-top: 130px;
    margin-left: 8px;
    background-color: #313f9f;
    opacity: 1;
}

#button:hover .sign {
    margin-top: 130px;
    margin-left: 55px;
    background-color: #313f9f;
    opacity: 1;
}

/* ------------------------- asyn ------------------------- */

.sum {
  text-align: center;
  color: #34d693;
  line-height: 130px;
  width: 115px;
  height: 130px;
  font-size: 58px;
  display: inline-block;
}

.hidden {
  visibility: hidden;
}

#button:hover .disable-button {
    cursor: pointer;
    background-color: #7E7E7E;
}

.active-infobar {
  background-color: rgba(48, 63, 159, 1);
  cursor: pointer;
}

.autoMessage {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  position: absolute;
  bottom: 300px;
  color: #34d693;
}





