<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/main.css">
    <script src="/public/jquery.js"></script>
    <script src="/public/vaildator.js"></script>
    <script src="/public/main.js"></script>
  </head>
  <body>
    <hgroup>
      <h1>注册</h1>
      <p class="tip"><%=err%></p>
    </hgroup>
    <form class="form" action="/signin" method="POST">
      <div class="group">
        <input type="text" name="username"><span class="highlight"></span><span class="bar"></span>
        <label>用户名</label>
        <p class="err"></p>
      </div>
      <div class="group">
        <input type="text" name="id"><span class="highlight"></span><span class="bar"></span>
        <label>学号</label>
        <p class="err"></p>
      </div>
      <div class="group">
        <input type="text" name="tel"><span class="highlight"></span><span class="bar"></span>
        <label>电话</label>
        <p class="err"></p>
      </div>
      <div class="group">
        <input type="text" name="mail"><span class="highlight"></span><span class="bar"></span>
        <label>邮箱</label>
        <p class="err"></p>
      </div>
      <button type="reset" class="button buttonBlue reset">重置
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
      </button>
      <button type="submit" class="button buttonBlue" id="submit">提交
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
      </button>
    </form>
  </body>
</html>